body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
}

.hero-width-control {
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 700px;
    background-image: url('../img/pexels-thisisengineering-3861972.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.hero-right {
    display: flex;
    flex: 1;
}

.header {
    display: flex;
    margin: 0;
    padding: 10px;
    justify-content: space-around;
    width: 100%;
    background-color: #1F2937;
    position: fixed;
}

.header-logo {
    margin: 0;
    padding: 0;
    font-size: 24px; 
    color:#E5E7EB
}

.links {
    display: flex;
    gap: 2em;
    margin: 0;
    padding: 0;
}

.hero-content {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 70%;
    width: 100%;
    margin-top: 150px;
    background-color: rgba(31, 41, 55, .9);
   
    border-radius: 50px;
    
}

.random-code {
    max-width: 100%;
    max-height: 100%;
}

.hero-title {
    color: #F9FAF8;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
    font-size: 40;
}

.hero-right img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sign-up:hover {
    background-color: #F9FAF8;
    color: #3882f6
}

.sign-up {
    width: 100px;
    padding: 6px;
    border-radius: 5px;
    background-color: #3882f6;
    text-align: center;
    color: #F9FAF8;
    text-decoration: none;
    
    
}

.links {
    display: flex;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    
}

.icon img {
    height: 100%;
    width: 100%;
}

.icon:hover {
    border-color: black;
}

.nav a:hover {
    background-color: #E5E7EB;
    color: #1F2937;
    border-radius: 10px;
}

.info-width-control {
    width: 700px;
    margin: 0 auto;
}

.info {
    
    display: flex;
    flex-direction: column;
    background-color: #3882f6;
    height: 500px;
    padding-bottom: 20px;
    justify-content: space-between;
    flex-grow: 1;
       
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;
    background-color: #F9FAF8;
    padding: 0 50%;
    margin-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-width: 1px;
    border-bottom: solid;
    flex-shrink: 1;
}

.info-content {
    background-color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    flex-wrap: wrap;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    border: #3882f6 solid;
    width: 100%;    
    height: 100%;
    border-radius: 3px;   
}

.option {
    width: 150px;
    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
    margin: 25px;
}

.quote {
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
}

.quote-width-control {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote-content {
    
    border: #bababa solid;
    padding: 50px 200px;
    border-radius: 20px;
    
}
.call-to-action
{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #F9FAF8;
    
}

.call-to-action-contents {
    width: 70%;
    height: 50%;
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    flex-direction: column;
    padding: 30px 0;
}

.call-to-action-contents p {
    display: flex;
    
    color: #E5E7EB;
    font-size: 20px;
    margin: 0 100px;
    font-weight: 600;
}

.sign-up.has-white-ring {
    border: #F9FAF8 solid 1px;
}

.footer {
    margin-top: auto;
    text-align: center;
    background-color: #1F2937;
    color: white
}
